h1, h2, h3 {
  color: #484948;
  font-weight: 900;
  text-rendering: optimizelegibility;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #FAF2E5;
  border-top: 7px solid #484948;
  font-family: Lato, sans-serif;
}

.content {
  width: 560px;
  margin: auto;
  margin-top: 20px;
  font-family: Lato, sans-serif;
}

.content a {
  color: #F59745;
}

.content form input {
  width: 200px;
}

.button:hover {
  background-color: #F59745;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.button {
  background-color: #F67100;
  color: white;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  font-size: 16px;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.urls {
  list-style-type: none;
  padding: 0px;
}

.urls li {
  background-color: white;
  padding: 6px 8px;
  border-radius: 4px;
  margin-bottom: 7px;
}

.urls li .delete {
  text-decoration: none;
  color: #C0392B;
  float: right;
}

.add-url:focus{ 
  border: 2px solid black;
  outline: 0;
  transition: 0.5s;
}

.add-url {
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid rgb(220, 228, 236);
  border-radius: 4px;
  transition: 0.5s;
  width: 300px !important;
}
